<% provide(:title, 'Appliances') %>
<h1> Appliances </h1>
<%= link_to "Add", new_user_appliance_path(current_user), id: "add-button", class: "btn btn-success" %>
<% if @records != nil %>
  <%= link_to "Group", user_appliances_path(current_user, act: "group"), id: "add-button", class: "btn btn-primary" %>
<% else %>
  <%= link_to "Overview", user_appliances_path(current_user), id: "add-button", class: "btn btn-primary" %>
<% end %>
<% unless @rooms.nil? %>
  <%= form_tag user_appliances_path(current_user), method: 'get' do %>
    <%= collection_select(:record, :room_id, @rooms, :id, :name, prompt: "Choose...") %>
    <%= submit_tag "Search", class: 'btn btn-primary', id: 'search_button' %>
  <% end %>
<% end %>
<% if @hash_of_records != nil %>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <% i = 0 %>
    <% @hash_of_records.each do |key, appliances| %>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i %>" aria-expanded="false" aria-controls="collapse<%= i %>">
                <%= key %>
              </a>
            </h4>
          </div>
          <div id="collapse<%= i %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <div class="row head-of-appliance-entry">
                <div class="col-md-3 col-xs-3">
                  <b>Name</b>
                </div>
                <div class="col-md-3 col-xs-3">
                  <b>Performance(kw/h)</b>
                </div>
                <div class="col-md-3 col-xs-3">
                  <b>Count</b>
                </div>
              </div>
              <% appliances.each do |name, properties| %>
                  <div class="row appliance-entry">
                    <div class="col-md-3 col-xs-3">
                      <%= name %>
                    </div>
                    <div class="col-md-3 col-xs-3">
                      <%= properties[:performance] %>
                    </div>
                    <div class="col-md-3 col-xs-3">
                      <%= properties[:count] %>
                    </div>
                    <div class="col-md-3 col-xs-3 cross-component">

                      <%= link_to user_appliance_path(current_user, properties[:appliance_id], entry_id: properties[:entry_id], room_id: properties[:room_id]), method: :delete, data: {confirm: "You sure?"}  do %>
                          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      <% end %>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
        <% i += 1 %>
    <% end %>
  </div>
<% end %>