<% provide(:title, 'New Appliance') %>
<h1> New Appliance </h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  	<%= form_tag user_appliances_path(current_user) do %>  
  		<%= fields_for :room do |builder| %>
  			<%= builder.label :name, "Room" %>  
  			<%= builder.text_field :name, class: 'form-control' %>
		<% end %>

  		<%= fields_for :appliance do |builder| %>
  			<%= builder.label :name, "Name" %>  
  			<%= builder.text_field :name, class: 'form-control' %>

    		<%= builder.label :cost %>  
  			<%= builder.number_field :cost, class: 'form-control' %> 
		<% end %>

  		<%= label_tag :performance, "Performance(kw/h)" %>  
  		<%= number_field_tag :performance, params[:performance], class: 'form-control' %> 

   		<%= label_tag :count %>  
  		<%= number_field_tag :count, params[:count], class: 'form-control' %> 

  		<%= submit_tag "Submit", class: "btn btn-primary" %>    
	<% end %> 

  </div>
 </div>