<% @scenarios.each_with_index do |scenario, index| %>
    <div class="scenario">
      <div class="scenario-around">
        <span class="important-text">Scenár <%= index+1 %></span>
        <%= link_to user_scenario_path(current_user, scenario.id), method: :delete, data: {confirm: "You sure?"}, remote: true, class: "deletion-scenario"  do %>
            <span class="glyphicon glyphicon-remove" id="remove-component" aria-hidden="true"></span>
        <% end %>
        <div class="scenario-information">
            <% scenario.scenario_of_appliances.each do |scenario_of_appliance| %>
                <div class="row scenario-entry">
                  <div class="col-md-2 col-xs-2">
                    <%= scenario_of_appliance.entry_room.room.name %>
                  </div>
                  <div class="col-md-2 col-xs-2">
                    <%= scenario_of_appliance.entry_room.entry.performance_of_appliance.appliance.name %>
                  </div>
                  <div class="col-md-2 col-xs-2">
                    <span><%= get_text(scenario_of_appliance.number_of_up) %> </span>
                  </div>
                </div>

            <% end %>
          </div>
      </div>
      <div class="result-around">
        <p class="result-line"> Záťaž: <span class="result-text"><%= scenario.power %> A</span></p>
      </div>
    </div>
<% end %>